@import "_variables.scss";
@import "_mixins.scss";

button,
a,
input,
textarea,
select {
  @extend .minimum-touch-area;
}

app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $palewhite;
  color: $black;
  width: 100%;
}

.main-container {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  transition: 0.2s;
  &.scrolled {
    background-color: $primary-red;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  &-logo > img {
    margin-left: 10px;
    height: 40px;
    @include breakpoint-min($breakpoint-md) {
      height: 45px;
    }
  }
  &-inner {
    width: 100%;
    max-width: $max-content-width;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-height;
    @include getXSafePad(padding, 0);
  }
  nav {
    .mobile-nav {
      display: flex;
      @include breakpoint-min($breakpoint-sm) {
        display: none;
      }
      button {
        @extend .minimum-touch-area;
        color: $palewhite;
        font-size: 2rem;
      }
    }
    .nav-wrapper {
      transform: translateX(100vw);
      // padding-top: 40px;
      background-color: $secondary-red;
      flex-direction: column;
      position: fixed;
      top: $header-height;
      opacity: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: 0.5s all;
      & > a {
        @extend .minimum-touch-area;
        display: flex;
        align-items: center;
        color: $palewhite;
        font-weight: 600;
        padding: 0 20px;
        height: 56px;
        font-size: 1rem;
      }
      &.active {
        transform: translateX(0);
        opacity: 1;
        & > a {
          &:hover {
            transition: 0.2s;
            background-color: $primary-red;
          }
        }
      }
      @include breakpoint-min($breakpoint-sm) {
        opacity: 1;
        transform: translateX(0);
        display: flex;
        flex-direction: row;
        padding-top: 0;
        background-color: transparent;
        position: relative;
        top: 0;
        width: auto;
        & > a {
          height: 100%;
          font-size: 0.87rem;
          justify-content: center;
          &.link-special {
            border-radius: 25px;
            background-color: $primary-red;
          }
          &:hover {
            background-color: none;
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $primary-red;
  margin-top: 50px;
  &-inner {
    color: white;
    text-align: center;
    font-size: 0.9em;
    @include getXSafePad(padding, 0);
    p {
      margin: 0;
      margin-bottom: 0;
      &:first-child {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.section {
  width: 100%;
  &.section-normalized &-inner {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    @include getXSafePad(padding, 20px);
    position: relative;
    max-width: $max-content-width;
  }
  &.section-first {
    padding-top: $header-height;
  }
  &.section-fh {
    height: 100vh;
  }
}

.scroll-up-btn-wrapper {
  position: fixed;
  bottom: 20px;
  right: 20px;
  & > button {
    border-radius: 55px;
    height: 55px;
    width: 55px;
    font-size: 1.5rem;
    color: $palewhite;
    background-color: $secondary-red;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.4));
  }
}
